<h1>Hi <%= current_user.username %>!  Here's your game!!</h1>
<h2>You are <%= current_user.x_or_o %>, and <span class="whose_turn"><%= (current_user.my_turn == true) ? "it's your turn!" : "it is not your turn." %></span></h2>

<div class="board">
  <% @game.boardspaces.each do |boardspace| %>
    <div class="boardspace <%=current_user.players[0].first%>" id="<%= boardspace.position %>">
      <div class="<%= boardspace.x_o_from_status %>"></div>
      <% if boardspace.x_o_from_status == "X" %>
        <div class="XR"></div>
      <% end %>
    </div>
  <% end %>
</div>