<div class="letterbox" id="letters_row1">
  <form id="LetterA" class="<%=@game.word.upcase%>">
    <input type="submit" value="A">
  </form>
  <form id="LetterB" class="<%=@game.word.upcase%>">
    <input type="submit" value="B">
  </form>
  <form id="LetterC" class="<%=@game.word.upcase%>">
    <input type="submit" value="C">
  </form>
  <form id="LetterD" class="<%=@game.word.upcase%>">
    <input type="submit" value="D">
  </form>
  <form id="LetterE" class="<%=@game.word.upcase%>">
    <input type="submit" value="E">
  </form>
  <form id="LetterF" class="<%=@game.word.upcase%>">
    <input type="submit" value="F">
  </form>
</div>

<div class="letterbox" id="letters_row2">
  <form id="LetterG" class="<%=@game.word.upcase%>">
    <input type="submit" value="G">
  </form>
  <form id="LetterH" class="<%=@game.word.upcase%>">
    <input type="submit" value="H">
  </form>
  <form id="LetterI" class="<%=@game.word.upcase%>">
    <input type="submit" value="I">
  </form>
  <form id="LetterJ" class="<%=@game.word.upcase%>">
    <input type="submit" value="J">
  </form>
  <form id="LetterK" class="<%=@game.word.upcase%>">
    <input type="submit" value="K">
  </form>
  <form id="LetterL" class="<%=@game.word.upcase%>">
    <input type="submit" value="L">
  </form>
</div>

<div class="letterbox" id="letters_row3">
  <form id="LetterM" class="<%=@game.word.upcase%>">
    <input type="submit" value="M">
  </form>
  <form id="LetterN" class="<%=@game.word.upcase%>">
    <input type="submit" value="N">
  </form>
  <form id="LetterO" class="<%=@game.word.upcase%>">
    <input type="submit" value="O">
  </form>
  <form id="LetterP" class="<%=@game.word.upcase%>">
    <input type="submit" value="P">
  </form>
  <form id="LetterQ" class="<%=@game.word.upcase%>">
    <input type="submit" value="Q">
  </form>
  <form id="LetterR" class="<%=@game.word.upcase%>">
    <input type="submit" value="R">
  </form>
</div>

<div class="letterbox" id="letters_row4">
  <form id="LetterS" class="<%=@game.word.upcase%>">
    <input type="submit" value="S">
  </form>
  <form id="LetterT" class="<%=@game.word.upcase%>">
    <input type="submit" value="T">
  </form>
  <form id="LetterU" class="<%=@game.word.upcase%>">
    <input type="submit" value="U">
  </form>
  <form id="LetterV" class="<%=@game.word.upcase%>">
    <input type="submit" value="V">
  </form>
  <form id="LetterW" class="<%=@game.word.upcase%>">
    <input type="submit" value="W">
  </form>
  <form id="LetterX" class="<%=@game.word.upcase%>">
    <input type="submit" value="X">
  </form>
</div>

<div class="letterbox" id="letters_row5">
  <form id="LetterY" class="<%=@game.word.upcase%>">
    <input type="submit" value="Y">
  </form>
  <form id="LetterZ" class="<%=@game.word.upcase%>">
    <input type="submit" value="Z">
  </form>
</div>
