<div class="letterbox" id="letters_row1">
  <form id="A" class="<%=@game.word.upcase%>">
    <input type="submit" value="A">
  </form>
  <form id="B" class="<%=@game.word.upcase%>">
    <input type="submit" value="B">
  </form>
  <form id="C" class="<%=@game.word.upcase%>">
    <input type="submit" value="C">
  </form>
  <form id="D" class="<%=@game.word.upcase%>">
    <input type="submit" value="D">
  </form>
  <form id="E" class="<%=@game.word.upcase%>">
    <input type="submit" value="E">
  </form>
  <form id="F" class="<%=@game.word.upcase%>">
    <input type="submit" value="F">
  </form>
</div>

<div class="letterbox" id="letters_row2">
  <form id="G" class="<%=@game.word.upcase%>">
    <input type="submit" value="G">
  </form>
  <form id="H" class="<%=@game.word.upcase%>">
    <input type="submit" value="H">
  </form>
  <form id="I" class="<%=@game.word.upcase%>">
    <input type="submit" value="I">
  </form>
  <form id="J" class="<%=@game.word.upcase%>">
    <input type="submit" value="J">
  </form>
  <form id="K" class="<%=@game.word.upcase%>">
    <input type="submit" value="K">
  </form>
  <form id="L" class="<%=@game.word.upcase%>">
    <input type="submit" value="L">
  </form>
</div>

<div class="letterbox" id="letters_row3">
  <form id="M" class="<%=@game.word.upcase%>">
    <input type="submit" value="M">
  </form>
  <form id="N" class="<%=@game.word.upcase%>">
    <input type="submit" value="N">
  </form>
  <form id="O" class="<%=@game.word.upcase%>">
    <input type="submit" value="O">
  </form>
  <form id="P" class="<%=@game.word.upcase%>">
    <input type="submit" value="P">
  </form>
  <form id="Q" class="<%=@game.word.upcase%>">
    <input type="submit" value="Q">
  </form>
  <form id="R" class="<%=@game.word.upcase%>">
    <input type="submit" value="R">
  </form>
</div>

<div class="letterbox" id="letters_row4">
  <form id="S" class="<%=@game.word.upcase%>">
    <input type="submit" value="S">
  </form>
  <form id="T" class="<%=@game.word.upcase%>">
    <input type="submit" value="T">
  </form>
  <form id="U" class="<%=@game.word.upcase%>">
    <input type="submit" value="U">
  </form>
  <form id="V" class="<%=@game.word.upcase%>">
    <input type="submit" value="V">
  </form>
  <form id="W" class="<%=@game.word.upcase%>">
    <input type="submit" value="W">
  </form>
  <form id="X" class="<%=@game.word.upcase%>">
    <input type="submit" value="X">
  </form>
</div>

<div class="letterbox" id="letters_row5">
  <form id="Y" class="<%=@game.word.upcase%>">
    <input type="submit" value="Y">
  </form>
  <form id="Z" class="<%=@game.word.upcase%>">
    <input type="submit" value="Z">
  </form>
</div>
